<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameengine.system.mapper.ScenarioMapper">
    
    <resultMap type="com.gameengine.system.domain.Scenario" id="ScenarioResult">
        <id     property="scenarioId"          column="scenario_id"           />
        <result property="personaId"           column="persona_id"            />
        <result property="canvasId"            column="canvas_id"             />
        <result property="title"               column="title"                 />
        <result property="userRole"            column="user_role"             />
        <result property="environment"         column="environment"           />
        <result property="goal"                column="goal"                  />
        <result property="motivation"          column="motivation"            />
        <result property="situation"           column="situation"             />
        <result property="behaviorFlow"        column="behavior_flow"         />
        <result property="obstacles"           column="obstacles"             />
        <result property="resultExpectation"   column="result_expectation"    />
        <result property="createBy"            column="create_by"             />
        <result property="createTime"          column="create_time"           />
        <result property="updateBy"            column="update_by"             />
        <result property="updateTime"          column="update_time"           />
        <result property="remark"              column="remark"                />
    </resultMap>
    
    <sql id="selectScenarioVo">
        select scenario_id, persona_id, canvas_id, title, user_role, environment, goal, motivation, 
               situation, behavior_flow, obstacles, result_expectation,
               create_by, create_time, update_by, update_time, remark
        from scenario
    </sql>
    
</mapper>
